@import 'variables';
@import 'colors';

html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1, h2, h3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.card{
    transition: all 1s;
    margin: 50px;
    background: url('../images/india.jpg') no-repeat;
    background-size: 160%;
    width: 350px;
    height: 530px;
    overflow: hidden;
    display: flex;
    position: relative;
    flex-direction: column;
    box-shadow: 1px 1px 3px 1px $color-shadow;
    * {
        transition: all 1s;
    }
    .date{
        margin-left: auto;
        margin-top: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        text-align: center;
        color: $white;
        padding: 25px;    
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background-color: $color-accent;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .card-content{
        margin-top: 250px;
        flex-grow: 1;
        background-color: $white;
        padding:  0 25px ;
        .media-type{
            left: -25px;
            background-color: $color-accent;
            color: $white;
            text-transform: uppercase;
            display: inline-block;
            box-sizing: border-box;
            padding: 0 20px;
            position: relative;
            top: -37px;
            p{
                margin: 10px auto;
            }
        }
        h2{
            margin-top: 0;
            text-transform: uppercase;
        }
        h3{
            color: $color-accent;
        }
        .description-content{
            opacity: 0;
        }
    }
    .card-action{
        padding: 0 25px 25px 25px;
        color : $gray;
        background-color: $white;
        width: 100%;
        position: absolute;
        display: flex;
        bottom:0;
        div+div{
            margin-left: 20px;
        }
        .publication-time{
            display: inline;
        }
        .comments{
            &:hover{
                text-decoration: underline;
            }
        }
        a{
            text-decoration: none;
            color: inherit;
        }
    }
    &:hover{
        background-size: 190%;
        box-shadow: 2px 2px 5px 2px $gray;
        .card-content{
            margin-top: 120px;
        }
        .description-content{
            opacity: 1;
        }
    }
}