@import 'colors';
html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1, h2, h3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.card{
    margin: 50px;
    background: url('../images/india.jpg') no-repeat;
    background-size: 160%;
    width: 350px;
    height: 450px;
    display: flex;
    flex-direction: column;
    &:hover{
        background-size: 190%;
    }
    .date{
        margin-left: auto;
        margin-top: 10px;
        margin-right: 10px;
        text-align: center;
        width: 60px;
        height: 60px;
        padding: 10px;
        box-sizing: border-box;
        border-radius: 50%;
        color: $white;
        background-color: $color-accent;
    }
    .card-content{
        margin-top: 250px;
        flex-grow: 1;
        background-color: $white;
        .media-type{
            background-color: $color-accent;
            color: $white;
            text-transform: uppercase;
            display: inline-block;
            box-sizing: border-box;
            padding: 0 20px;
            position: relative;
            top: -37px;
            p{
                margin: 10px auto;
            }
        }
        h2{
            margin-top: 0;
            text-transform: uppercase;
        }
        h3{
            color: $color-accent;
        }
        .description-content{
            display: none;
        }
    }
}